.whole{
    width: 500px;
    height: 500px;
    position: relative;

}
.logbox{
    position: absolute;
    width: 400px;
    height: 400px;

    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;


}

.form{
    position: absolute;
    margin-left:100px
}

.inputs{
    margin-bottom: 25px;
}

.btn btn-primary{
    margin-top: 25px;
}